<div class="qn_category">
  <div class="qn_form_group">
    <input type="radio" class="qn_notif_category" name="qn_notif_category" id="qn_all" value="qn_all" checked="checked">
    <label for="qn_all">All</label>
  </div>

  <div class="qn_form_group">
    <input type="radio" class="qn_notif_category" name="qn_notif_category" id="qn_answer" value="qn_answer">
    <label for="qn_answer">Answers</label>
  </div>

  <div class="qn_form_group">
    <input type="radio" class="qn_notif_category" name="qn_notif_category" id="qn_post" value="qn_post">
    <label for="qn_post">Posts</label>
  </div>

  <div class="qn_form_group">
    <input type="radio" class="qn_notif_category" name="qn_notif_category" id="qn_vote" value="qn_vote">
    <label for="qn_vote">Votes</label>
  </div>

  <div class="qn_form_group">
    <input type="radio" class="qn_notif_category" name="qn_notif_category" id="qn_comment" value="qn_comment">
    <label for="qn_comment">Comments</label>
  </div>

  <div class="qn_form_group">
    <input type="radio" class="qn_notif_category" name="qn_notif_category" id="qn_others" value="qn_others">
    <label for="qn_others">Others</label>
  </div>

  <div class="qn_form_group">
    <input type="checkbox" class="qn_notif_unseen" name="qn_notif_unseen" id="qn_notif_unseen" value="unseen">
    <label for="qn_notif_unseen">Unseen?</label>
  </div>
</div>